{%extends "base.html"%}

{%block title%}
修改密码验证码 马克笔记
{%endblock title%}

{%block metas%}
{{super()}}
<meta name="description" content="马克笔记是一个整理知识、分享知识，帮助你搜索知识的网站">
{%endblock metas%}


{%block styles%}

<link rel="stylesheet" href="{{url_for("static", filename="dist/css/sign.min.css")}}">

{{super()}}
{%endblock styles%}
{%block content%}
<div class="main-dropdown">
    <div class="container">
        <div class="inner-content">
        <div class="validate-password">
            <form id="password-form" action="{{url}}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <h1 class="form-title">找回密码</h1>
            </div>
            <div class="form-group clearfix">
                <input class="block-input block-input-lg{%if form.verification_code.errors%}input-error{%endif%}" type="text" name="verification_code" autocomplete="off" placeholder="验证码">
                <p class="help-block">请找管理员索要验证码</p>
                {%for error in form.verification_code.errors%}
                <div class="input-error-info">{{error.decode("utf-8")}}</div>
                {%endfor%}
            </div>
            <div class="form-group">
                <button class="block-btn block-btn-lg" type="submit">确定</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    {%include "_footer.html"%}
</div>

{%endblock content%}

{%block scripts%}
<script src="{{url_for("static", filename="dist/js/validate_home.min.js")}}"></script>

{{super()}}
{%endblock scripts%}

