{%extends "base.html"%}
{%block title%}
修改密码 马克笔记
{%endblock title%}

{%block metas%}
{{super()}}
<meta name="description" content="马克笔记是一个整理知识、分享知识，帮助你搜索知识的网站">
{%endblock metas%}

{%block styles%}

<link rel="stylesheet" href="{{url_for("static", filename="dist/css/sign.min.css")}}">

{{super()}}
{%endblock styles%}
{%block content%}
<div class="main-dropdown">
    <div class="container">
        <div class="inner-content">
        <div class="password-form">
            <form id="change-password" action="{{url}}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <h1 class="form-title">设置新密码</h1>
            </div>
            <div class="form-group password-form-group">
                <input class="block-input block-input-lg {%if form.password.errors%}input-error{%endif%}" type="password" name="password" autocomplete="off" placeholder="密码">
                {%if form.password.errors%}
                {%for error in form.password.errors%}
                <div class="input-error-info">{{error.decode("utf-8")}}</div>
                {%endfor%}
                {%endif%}
                <div class="security-level security-level-lg">
                    <span class="percent"></span>
                </div>
            </div>
            <div class="form-group">
                <input class="block-input block-input-lg {%if form.repeat_password.errors%}input-error{%endif%}" type="password" name="repeat_password" autocomplete="off" placeholder="重复密码">
            </div>
            {%for error in form.repeat_password.errors%}
            <div class="input-error-info">{{error.decode("utf-8")}}</div>
            {%endfor%}
            <div class="form-group">
                <button class="block-btn block-btn-lg" type="submit">确定</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    {%include "_footer.html"%}
</div>

{%endblock content%}

{%block scripts%}

<script src="{{url_for("static", filename="dist/js/register.min.js")}}"></script>

{{super()}}

{%endblock scripts%}

