    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td bgcolor="#f6f9fb" align="center" style="padding: 20px 0">
                <table border="0" cellpadding="0" cellspacing="0" width="550" style="background-color:#fff;border-radius:3px;border:1px solid #dadada;margin:0 auto;">
                    <tbody>
                    <tr>
                        <td style="padding: 15px 20px; border-bottom:1px solid #dadada;"><span style="color:#1B95E0;font-size:18px;font-weight:bold;">马克笔记</span></td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 20px 20px 40px;">
                            <tbody>
                                <tr>
                                    <td><strong style="color:#666;font-size:18px;">{{username}} 您好!</strong></td>
                                </tr>
                                <tr>
                                    <td><p style="margin:20px 0; font-size:14px; color: #888;">您此次重置密码的验证码如下，请在30分钟内完成验证，过期请重新发送验证码，如非本人操作，请忽略此邮件</p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" align="center" cellpadding="0" cellspacing="0" width="50px" style="margin:0 auto;background-color:#f6f9fb;padding: 15px 10px;border-radius:3px;">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span style="color:#1B95E0;font-size:26px;border-bottom:1px dashed #bbb;" onclick="return false" data="{{code}}">{{code}}</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0 20px 20px;text-align:center;font-size:13px;color:#888;"><span>©马克笔记</span></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
